<header>
   <div id="header-sticky" class="header__area header__transparent header__sticky">
      <div class="header__bottom">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-xxl-8 col-xl-9 col-lg-10 col-md-6 col-6">
                  <div class="header__bottom-left d-flex align-items-center">
                     <div class="logo">
                        <%= link_to(root_path) do %>
                           <%= image_tag("logo/logo.png", alt: "logo" , width: "150" , height: "100%" ) %>
                        <% end %>
                     </div>
                     <div class="main-menu main-menu-2 main-menu-border ml-30 pl-30">
                        <nav id="mobile-menu">
                           <ul>
                              <li>
                                 <%= link_to "Home" , root_path %>
                              </li>
                              <li>
                                 <%= link_to "About" , aboutus_path %>
                              </li>
                              <li>
                                 <%= link_to "Courses" , courses_path %>
                              </li>
                              <li class="has-dropdown">
                                 <a>Pages</a>
                                 <ul class="submenu">
                                    <li><a><%= link_to "Certificate Validation" , new_certificate_path %></a></li>
                                       <% if user_signed_in? %>
                                       <li>
                                          <a >
                                          <%= link_to "Profile" , users_profile_path %>
                                       </a>
                                       </li>
                                       <% end %>
                                 </ul>
                              </li>
                              <li>
                                 <%= link_to "Blog" , blogs_path %>
                              </li>
                              <li>
                                 <%= link_to "Contact" , new_contact_path %>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-3 col-lg-2 col-md-6 col-6">
                  <div class="header__bottom-right d-flex justify-content-end align-items-center">
                     <div class="header__action d-none d-xl-block">
                        <ul>
                           <li>
                              <% if user_signed_in? %>
                                 <%= link_to users_profile_path do %>
                                    <% if current_user.profile.attached? %>
                                    <%= image_tag current_user.profile, class: 'profile__basic-thumb mr-30', width: 40, height: 40 %>
                                 <% end %>
                                       <% end %>
                                          <% else %>
                                             <%= link_to user_session_path do %>
                                                <%= raw('<svg width="15" height="20" viewBox="0 0 15 20" fill="none"
                                                   xmlns="http://www.w3.org/2000/svg">
                                                   <path
                                                      d="M7.1466 8.96416C7.05493 8.95499 6.94493 8.95499 6.8441 8.96416C4.66243 8.89083 2.92993 7.10333 2.92993 4.90333C2.92993 2.65749 4.74493 0.833328 6.99993 0.833328C9.24576 0.833328 11.0699 2.65749 11.0699 4.90333C11.0608 7.10333 9.32826 8.89083 7.1466 8.96416Z"
                                                      stroke="#0C140F" stroke-width="1.5" stroke-linecap="round"
                                                      stroke-linejoin="round" />
                                                   <path
                                                      d="M2.56341 12.3467C0.345075 13.8317 0.345075 16.2517 2.56341 17.7275C5.08424 19.4142 9.21841 19.4142 11.7392 17.7275C13.9576 16.2425 13.9576 13.8225 11.7392 12.3467C9.22758 10.6692 5.09341 10.6692 2.56341 12.3467Z"
                                                      stroke="#0C140F" stroke-width="1.5" stroke-linecap="round"
                                                      stroke-linejoin="round" />
                                                   </svg>') %>
                                                   <% end %>
                                                      <% end %>
                           </li>
                        </ul>
                     </div>
                     <div class="header__hamburger d-xl-none">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#offcanvasmodal"
                           class="hamurger-btn">
                           <span></span>
                           <span></span>
                           <span></span>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
<!-- header area end -->


<div class="modal fade" id="offcanvasmodal" tabindex="-1" aria-labelledby="offcanvasmodal" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
               <div class="offcanvas__top mb-40 d-flex justify-content-between align-items-center">
                  <div class="offcanvas__logo logo">
                     <%= link_to(image_tag("logo/logo.png", alt: "logo" ), root_path) %>
                  </div>
                  <div class="offcanvas__close">
                     <button class="offcanvas__close-btn" data-bs-toggle="modal" data-bs-target="#offcanvasmodal">
                        <i class="fal fa-times"></i>
                     </button>
                  </div>
               </div>
               <div class="mobile-menu fix"></div>
               <div class="offcanvas__text d-none d-lg-block">
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                     born and will give you a complete account of the system and expound the actual teachings of the
                     great explore</p>
               </div>
               <div class="offcanvas__map d-none d-lg-block mb-15">
                  <iframe
                     src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29176.030811137334!2d90.3883827!3d23.924917699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1605272373598!5m2!1sen!2sbd"></iframe>
               </div>
               <nav >
                  <ul class="mob-nav" style="list-style: none; text-transform: uppercase; font-weight: bolder;">
                     <li>
                        <%= link_to "Home" , root_path %>
                     </li>
                     <li>
                        <%= link_to "About" , aboutus_path %>
                     </li>
                     <li>
                        <%= link_to "Courses" , courses_path %>
                     </li>
                     <li class="has-dropdown">
                        <a>Pages</a>
                        <ul class="submenu" style="list-style: none;">
                           <li>
                              <%= link_to "Certificate Validation" , new_certificate_path %>
                           </li>
                           <% if user_signed_in? %>
                              <li>
                                 <%= link_to "Profile" , users_profile_path %>
                              </li>
                              <% end %>
                        </ul>
                     </li>
                     <li>
                        <%= link_to "Blog" , blogs_path %>
                     </li>
                     <li>
                        <%= link_to "Contact" , new_contact_path %>
                     </li>
                        <li>
                           <% if user_signed_in? %>
                              <%= link_to destroy_user_session_path, method: :delete do %>
                              
                                    Logout
                                    <% end %>
                                       <% else %>
                                          <%= link_to user_session_path do %>
                                                Login
                                                <% end %>
                                                   <% end %>
                        </li>
                  </ul>
               </nav>
               <div class="offcanvas__contact mt-30 mb-20">
                  <h4>Contact Info</h4>
                  <ul>
                     <li class="d-flex align-items-center">
                        <div class="offcanvas__contact-icon mr-15">
                           <i class="fal fa-map-marker-alt"></i>
                        </div>
                        <div class="offcanvas__contact-text">
                           <a target="_blank"
                              href="https://www.google.com/maps/place/Dhaka/@23.7806207,90.3492859,12z/data=!3m1!4b1!4m5!3m4!1s0x3755b8b087026b81:0x8fa563bbdd5904c2!8m2!3d23.8104753!4d90.4119873">12/A,
                              Mirnada City Tower, NYC</a>
                        </div>
                     </li>
                     <li class="d-flex align-items-center">
                        <div class="offcanvas__contact-icon mr-15">
                           <i class="fas fa-phone"></i>
                        </div>
                        <div class="offcanvas__contact-text">
                           <a href="mailto:support@gmail.com">088889797697</a>
                        </div>
                     </li>
                     <li class="d-flex align-items-center">
                        <div class="offcanvas__contact-icon mr-15">
                           <i class="fal fa-envelope"></i>
                        </div>
                        <div class="offcanvas__contact-text">
                           <a href="tel:+012-345-6789">support@mail.com</a>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="offcanvas__social">
                  <ul>
                     <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                     <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- offcanvas area end -->
<div class="body-overlay"></div>