<main>

  <!-- event area start -->
  <section class="event__area pt-115 p-relative">
    <div class="page__title-shape">
      <img class="page-title-shape-5 d-none d-sm-block" src="assets/img/breadcrumb/page-title-shape-1.png" alt="">
      <img class="page-title-shape-6" src="assets/img/breadcrumb/page-title-shape-2.png" alt="">
      <img class="page-title-shape-7" src="assets/img/breadcrumb/page-title-shape-4.png" alt="">
      <img class="page-title-shape-8" src="assets/img/breadcrumb/page-title-shape-5.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xxl-8">
          <div class="event__wrapper">
            <div class="page__title-content mb-25">
              <div class="breadcrumb__list breadcrumb__list-2 mb-10">
                <span><%= link_to "Home", root_path%></span>
                <span class="dvdr"><i class="fas fa-angle-right"></i></span>
                <span>News</span>
              </div>
              <h5 class="breadcrumb__title-2"><%= @single_news.title %></h5>
            </div>
            <div class="course__meta-2 d-sm-flex align-items-center mb-30">
              <div class="course__teacher-3 d-flex align-items-center mr-70 mb-30">
                <div class="course__teacher-thumb-3 mr-15">
                  <% if @single_news.admin.profile.attached? %>
                    <%= image_tag @single_news.admin.profile %>
                  <% end %>
                </div>
                <div class="course__teacher-info-3">
                  <h5>Teacher</h5>
                  <p><%= @single_news.admin.first_name %> <%= @single_news.admin.last_name %></p>
                </div>
              </div>
              <div class="course__update mr-80 mb-30">
                <h5>Last Update:</h5>
                <p><%= @single_news.updated_at.strftime("%B, %Y") %></p>
              </div>
              <div class="course__rating-2 mb-30">
                <h5>Review:</h5>
                <div class="course__rating-inner d-flex align-items-center">
                  <ul>
                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  </ul>
                  <p>4.5</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- event area end -->

  <!-- event details area start -->
  <section class="event__area pb-110">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-8 col-lg-8">
          <div class="event_wrapper">
            <div class="event__thumb mb-35 w-img">
              <% if @single_news.admin.profile.attached? %>
              <%= image_tag @single_news.admin.profile %>
            <% end %>
                      </div>
            <div class="event__details mb-35">
              <h3>Description</h3>
              <p><%= @single_news.description %></p>
            </div>
            <div class="event__tag">
              <span><i class="fal fa-tag"></i></span>
              <a href="#"><%= @single_news.tags %>, </a>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4">
          <div class="event__sidebar pl-70">
            <div class="event__sidebar-widget white-bg mb-20">
              <div class="event__sidebar-shape">
                <img class="event-sidebar-img-2" src="assets/img/events/event-shape-2.png" alt="">
                <img class="event-sidebar-img-3" src="assets/img/events/event-shape-3.png" alt="">
              </div>
              <div class="event__info">
                <div class="event__info-content mb-35">
                  <ul>
                    
                    <li class="d-flex align-items-center">
                      <div class="event__info-icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;"
                          xml:space="preserve">
                          <path class="st0"
                            d="M2,6l6-4.7L14,6v7.3c0,0.7-0.6,1.3-1.3,1.3H3.3c-0.7,0-1.3-0.6-1.3-1.3V6z" />
                          <polyline class="st0" points="6,14.7 6,8 10,8 10,14.7 " />
                        </svg>
                      </div>
                      <div class="event__info-item">
                        <h5><span>Venue: </span><%= @single_news.location %></h5>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="event__sidebar-widget white-bg">
              <div class="event__sponsor">
                <h3 class="event__sponsor-title">Sponsors</h3>
                <div class="event__sponsor-thumb mb-35">
                  <img src="assets/img/events/sponsor-logo.png" alt="">
                </div>
                <div class="event__sponsor-info">
                  <h3>Thomas R. Toe</h3>
                  <h4>Email: <span>support@educal.com</span></h4>
                  <div class="event__social d-xl-flex align-items-center">
                    <h4>Share:</h4>
                    <ul>
                      <li><a href="#" class="fb"><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a href="#" class="tw"><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a href="#" class="pin"><i class="fa-brands fa-pinterest-p"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- event details area end -->


</main>