<main>

   <!-- breadcrumb area start -->
   <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay header-img"
      data-background="assets/img/breadcrumb/breadcrumb-bg-1.jpg">
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="breadcrumb__content text-center p-relative z-index-1">
                  <h3 class="breadcrumb__title">MY Courses</h3>
                  <div class="breadcrumb__list">
                     <span>
                        <%= link_to "Home" , root_path%>
                     </span>
                     <span class="dvdr"><i class="fas fa-angle-right"></i></span>
                     <span>Courses</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- breadcrumb area end -->


   <!-- course area start -->
   <section class="course__area pt-115 pb-90 grey-bg-3">
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="course__tab-conent">
                  <div class="tab-content" id="courseTabContent">
                     <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
                        <div class="row">
                           <% @mycourse.each do |course|%>
                              <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                                 <div class="course__item white-bg transition-3 mb-30">
                                    <div class="course__thumb w-img fix">
                                       <%= link_to course_path(course.slug) do %>
                                       <% if course.image.attached? %>
                                          <%= image_tag course.image %>
                                       <% end %>
                                       <% end %>
                                    </div>
                                    <div class="course__content p-relative">
                                       <div class="course__price">
                                          <span>PKR<%= course.price %></span>
                                       </div>
                                       <div class="course__tag">
                                          <a href="#">
                                             <%= course.course_category.name %>
                                          </a>
                                       </div>
                                       <h3 class="course__title">
                                          <%= link_to course.title, course_path(course.slug) %>
                                       </h3>
                                       <!-- <% if course.description.to_plain_text.length> 250 %>
                                         
                                          <% else %>
                                             <p>
                                                <%= course.description %>
                                             </p>
                                             <% end %> -->
                                    </div>
                                 </div>
                              </div>
                              <% end %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      </div>
   </section>
   <!-- course area end -->


</main>